<%- include ("partials/header.ejs") %>
<body>
    <h1>Post your blog now 🤔</h1>
    <form action="post" method="POST">
        <label for="feeling">Your feeling today: </label>
        <input type="text" name="feeling">
    </form>
<%- include ("partials/footer.ejs") %>